/********** General Sytling **********/
* {margin: 0;}
body {font-family: 'Montserrat', sans-serif;}
body:nth-child(n) {outline-color: #5d5d5d;}
p,li {font-family: 'Roboto', sans-serif;}
header h1 {
	color: #181818;
	font-size: 3rem;
	margin: 0;
}
header {text-align: left;}
header p {font-size: 1.7rem;}
strong {background-color: #FFEB93;}
.stronger {
	font-size: 2rem;
	background-image: linear-gradient(#ffffff00 65%, #FF9D5B 55%);
	display: inline;
}

/********** Navigation bar **********/
nav a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #2f2f2f;
}
nav {
	margin: 25px 15vw 0px 15vw;
	font-size: 1.6rem;
}
.logo {
	margin-left: 10px;
	display: inline;
}
.nav-items {
	display: inline;
	float: right;
}
.nav-items a {
	margin-right: 30px;
	padding: 0 5px 0 5px;
	color: #5d5d5d;
	background-position: 0 100%;
    background-repeat: repeat-x;
	background-size: 0px 0px;
	background-image: linear-gradient(transparent 65%, #78CC87 55%);
	transition: background-size .2s;
}
.nav-items a:hover {
	background-size: 30px 30px;
}
.nav-items a:focus {
	outline: 0;
	border-radius: 5px;
	background-size: 100px 100px;
}
.nav-toggle img {
	position: absolute;
	top: 10px;
	right: 30px;
	height: 40px;
}
a.current {color: #78CC87;}

/********** Header **********/
.welcome {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 5vw;
	margin-top: 150px;
	margin-bottom: 200px;
	height: 50vh;
}
.welcome-item {min-width: 500px; outline: 0;}
.welcome-item img {
	max-width: 450px;
	width: 100%;
	margin-left: 20px;
}
.animate {
	height: 65px;
	width: 335px;
	overflow: hidden;
}
.title {
	color: #78CC87;
	animation: hide 7s infinite;
}
.title:hover, .title:focus {
	cursor: pointer;
	color: transparent;
	-webkit-text-stroke: 2px #78CC87;
	transition: 0.1s ease;
	outline: 0;
}
.animate h1:first-child {
	animation: show 7s infinite;
}
@keyframes show {
	0% {margin-top: 60px; opacity: 0;}
	20% {margin-top: 0px; opacity: 1;}
	50% {margin-top: -60px;}
	80% {margin-top: -120px;}
	100% {margin-top: -180px;}
}
@keyframes hide {
	0% {opacity: 0;}
	10% {opacity: 1;}
	83% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;}
}

/********** Main Section **********/
/* My Process */
.process {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30vh;
	background-color: #effff1;
	width: 100%;
	height: 400px;
	padding: 50px 0;
}
.process-item {
	width: 300px;
	margin: 0 20px 0 20px;
	text-align: center;
}
.highlight {
	font-size: 1.3rem;
	display: inline;
	background: linear-gradient(100deg, #FFEB93 99%, transparent 1%) no-repeat;
	background-size: 0 100%;
	padding-right: 2%;
	transition: background-size 0.5s;
}
.highlight:hover, .highlight:focus {
	background-size: 100% 100%;
	cursor: pointer;
	outline: 0;
}
/* Tabbed Menu Features */
.skills {
	display: flex;
	justify-content: center;
	margin: 20vh 0;
}
button:focus {outline: 0; color: #78CC87;}
.accordian {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	text-align: left;
	background-color: white;
	color: #5d5d5d;
	width: 500px;
	height: 70px;
	border: none;
}
.accordian:hover, .accordian:active {
	cursor: pointer;
	color: #78CC87;
	transition: 0.3s linear;
}
.tabActive {
	color: #78CC87;
}
.accordian::after {
	content: "";
	width: 500px;
	height: 2px;
	display: inline-block;
	background-color: #E8E8E8;
}
.openPanel {
	transition: 0.5s ease-in;
}
.panel {
	max-height: 0;
	min-height: 0;
	overflow: hidden;
	color: #5d5d5d;
	margin-left: 5px;
	font-size: 1.2rem;
}
.panel a {
	font-size: 1rem;
	color: #5d5d5d;
	text-decoration: none;
}
.window {
	width: 600px;
	height: 450px;
	margin-left: 20px;
	background-color: #5d5d5d;
	border-radius: 15px;
	outline: 0;
}
.bar {
	position: relative;
	width: 99.1%;
	height: 40px;
	border: 3px solid #5d5d5d;
	border-radius: 15px;
	background: linear-gradient(120deg, white, #dbdbdb);
}
.circle {
	height: 15px;
	width: 15px;
	border-radius: 50%; 
	position: absolute;
	z-index: 3;
	margin-top: 15px;
	margin-left: 20px;
}
.min {
	margin-left: 45px;
	background-color: #FFEB93;
}
.max {
	margin-left: 70px;
	background-color: #78CC87;
}
.close {
	background-color: #F48484;
}

/********** Footer **********/
footer {
	margin-bottom: 20px;
}
footer h2 { 
	font-size: 6rem;
	line-height: 85px;
	color: transparent;
	-webkit-text-stroke: 2px #78CC87;
}
footer h2:hover, footer h2:focus {
	outline: 0;
	color: #78CC87;
	transition: 0.5s;
}
footer h3 {
	outline: 0;
	font-size: 4rem;
	color: #78CC87;
	transition: 0.2s;
}
footer h3:hover, footer h3:focus {
	color: transparent;
	-webkit-text-stroke: 1.5px #78CC87;
}
#contact {
	margin: 0 auto;
	width: 65%;
	text-align: left;
	border-radius: 10%;
}
#contact:focus {
	outline: 0;
}
.endInfo {
	margin: 50px auto 0 auto;
	text-align: center;
}
small {
	color: #5d5d5d;
}
.icons a {
	outline: 0;
}

/********** Media Queries **********/
/*For XS screen*/
@media (max-width: 800px) {
	header h1 { 
		font-size: 2.2rem;
		text-align: center;
	}
	header p {font-size: 1.5rem;}
	nav {
		margin: 35px 20px 0px 20px;
		font-size: 1.3rem
	}
	.nav-items a {margin-right: 15px;}
	.stronger {font-size: 1.5rem;}
	.process {flex-wrap: wrap;}
	.process-item {width: 400px; margin-bottom: 50px; text-align: left;}
	.highlight {font-size: 1.2rem;}
	.animate {
		height: 45px;
		width: 420px;
		overflow: hidden;
	}
	@keyframes show {
		0% {margin-top: 45px; opacity: 0;}
		20% {margin-top: 0px; opacity: 1;}
		50% {margin-top: -45px;}
		80% {margin-top: -90px;}
		100% {margin-top: -150px;}
	}
	@keyframes hide {
		0% {opacity: 0;}
		10% {opacity: 1;}
		83% {opacity: 1;}
		90% {opacity: 0;}
		100% {opacity: 0;}
	}
	.bar {
		width: 98.5%;
	}
	footer h2{
		font-size: 4.5rem;
		line-height: 65px;
	}
	footer h3 {
		font-size: 2.5rem;
	}
	#contact {
		width: 80%;
	}
} 
/*For S screen*/
@media (max-width: 1250px) {
	.welcome {
		margin-top: 150px;
		margin-bottom: 250px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.welcome-item {min-width: 0;}
	.welcome-item img {
		margin: 0 auto;
		margin-top: 70px;
	}
	.welcome-item p {
		text-align: center;
		margin: 25px 5px;
	}
	.skills {
		flex-wrap: wrap;
		margin: 10vh 0;
	}
	.accordian {width: 85vw;}
	.accordian::after {display: block; width: 82vw;}
	.tabs {margin-bottom: 20px;}
	.window {
		margin-left: 0;
		width: 85vw;
	}
	#contact {
		width: 75%;
	}
}
